.cursor {
    width: .75rem;
    height: .75rem;
    border-radius: 999px;
    background-color: black;
    position: absolute;
    z-index: 9999;
    pointer-events: none;
    transition: transform 0.125s ease-out;
}

.cursor[data-hidden-until-moved='true'] {
    display: none;
}

.cursor.mix {
    mix-blend-mode: difference;
    background-color: #fff;
    color: #fff;
    transition: transform 0.125s ease-out;
}

.cursor:where(.pointer) {
    transform: scale(3.5);
    background-color: rgba(0, 0, 0, 0.8);
}

.cursor:where(.show) {
    background-color: transparent;
    transform: scale(3.5) translate(-20%, -20%);
    transition: transform 0.125s ease-out;
}

.cursor.show.mix {
    background-color: transparent;
}