.imageView {
    position: fixed;
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 100;
    inset: 0;
    background-color: transparent;
    transition: background-color 0.125s ease-out;
}

.imageView.visible {
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: unset;
}

.imageView * {
    transform: translateY(1rem);
    opacity: 0;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.imageView.visible * {
    opacity: 1;
    transition: transform 0.125s ease-out, opacity 0.125s ease-out;
    transform: translateY(0);
}

.closeButton {
    align-self: flex-start;
    padding: 1rem;
}