.project {
    min-height: 480px;
    padding: 2rem;
    transition: transform 0.125s ease-out;
}

.project * {
    margin: 0;
}

.project h2, .project p {
    mix-blend-mode: difference;
    color: #fff;
}

.project h2 {
    font-family: Major Mono Display, monospace;
    text-transform: lowercase;
}

.project p {
    font-family: Poppins, sans-serif;
    font-weight: 300;
    margin-top: 10px;
    margin-left: 2px;
}

.project::after {
    content: '';
    inset: 0;
    position: absolute;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.0);
    transition: background-color 0.125s ease-out;
}

.project:hover::after {
    background-color: rgba(255, 255, 255, 0.3);
}

.project:hover h2,
.project:hover p {
    mix-blend-mode: normal;
    color: #000;
}