.project {
    min-height: 480px;
    padding: 2rem;
    transition: transform 0.125s ease-out;
}

.project * {
    margin: 0;
}

.project h3, .project p {
    mix-blend-mode: difference;
    color: #fff;
}

.project h3 {
    text-transform: lowercase;
}

.project p {
    margin-top: 10px;
    margin-left: 2px;
}

.project:focus {
    outline: none;
}

.project::after {
    content: '';
    inset: 0;
    position: absolute;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.0);
    transition: background-color 0.125s ease-out;
}

.project:focus::after,
.project:hover::after {
    background-color: rgba(255, 255, 255, 0.3);
}

.project:focus h3,
.project:focus p,
.project:hover h3,
.project:hover p {
    mix-blend-mode: normal;
    color: #000;
}